
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&family=Merriweather:wght@700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oswald:wght@400;500;600;700&display=swap');

:root {
  --pink:rgb(227,147,132);
  --oatmeal: rgb(251,241,231);
  --text: rgb(20,20,20);
  --blue: rgb(11, 13, 95)
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  list-style: none;
  text-decoration: none;
  color: var(--text);
}

.logo {
  height: 80px;
  width: 80px;
  object-position: center;
  object-fit: contain;
  padding-left: 10px;
}

h1 {
  font-family: "Merriweather", serif;
}


.header {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  /* position: fixed; */
  top: 0;
  background-color: var(--text);
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin: auto;
  flex: 1;
  padding-right: 5px;
  height: 100%;
}

.nav-links {
  display: flex;
  align-self: center;
  padding: 10px;
}

.nav-links > * {
  padding: 0 10px;
}

.nav-links > li > a:active, a:link, a:visited {
  color: white;
  font-weight: lighter;
  font-size: 1.3rem;
  letter-spacing: 1px;
}

.nav-social-icons {
  display: flex;
  align-self: center;
  height: 100%;
  padding: 0 10px;
}

.nav-social-icons > .fa {
  padding: 0 10px;
  align-self: center;
  color: white;
}

#contact-btn {
  padding: 20px 30px;
  background-color: var(--pink);
  border: none;
  color: rgb(241, 241, 243);
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 0 20px;
}

#contact-btn:hover {
  border: none;
  cursor: pointer;
}
/* 
a:link,
a:visted, a:active {
  text-decoration: none;
  font-weight: bold;
  color: white;
  z-index: 10;
} */

footer {
  background-color: rgba(244, 217, 203, 0.5);
  height: 40vh;
}

#footer-main {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  text-align: right;
  align-self: center;
}
.attribution {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-self: flex-end;
}
